version: 1.1.{build}

branches:
  only:
    - master

max_jobs: 1

os: Visual Studio 2022

platform:
  - x86

configuration: Release

install:
  - cmd: git submodule update --init --recursive
  - cmd: msbuild /version

build_script:
  # Use x86 instead of Win32
  - cmd: msbuild "InitialClimbPlugin.sln" /m /p:Configuration=Release /p:Platform=x86 /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

after_build:
  - cmd: mkdir InitialClimbPlugin-nightly
  - cmd: for /r %%i in (*.dll) do if exist "%%i" copy "%%i" InitialClimbPlugin-nightly\
  - cmd: 7z a InitialClimbPlugin-nightly.zip %APPVEYOR_BUILD_FOLDER%\InitialClimbPlugin-nightly\

artifacts:
  - path: InitialClimbPlugin-nightly.zip
